*.o
*.exe

#archivos secundarios de diagramas DIA
*.dia~


#>>>>>>>>>>>>>>>>>>>>>>>> VISUAL BASIC IGNORE <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

#carpta con el instalador y crack
VB2010Express_ESP
VB2010Express_ESP.rar


#OS junk files
[Tt]humbs.db
*.DS_Store

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*

#Project files
[Bb]uild/

#Subversion files
.svn

# Office Temp Files
~$*

#NuGet
packages/