:root {
    --morado1:#494ca2;
    --morado2:#484c7f;
    --lila:#ac8daf;
    --bordo:#940a37;
    --tomato:#e26241;
    --orange:orange;
    --melon:#ffd369;
    --yellow:yellow;
    --black:#000;
    --negro2:#211717;
}